.bg-black{
  background-color: black;
  color: white;
}

.display-6{
 font-size: calc(0.8rem + 1vw);
}

.text-vermei{
  color: brown;
}

.list-group-item.active {
  color: white;
  background-color: brown;
  border-color: yellow;
}

.btn-outline-primary {
  --bs-btn-color: #850202;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #850202;
  --bs-btn-hover-border-color: #0d6efd;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0d6efd;
  --bs-btn-active-border-color: #0d6efd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-gradient: none;
}